* {
    /*background-color: rgb(249, 246, 238);*/
    background-color: rgb(250, 249, 246);
    font-family: "宋体";
    letter-spacing: 1.5px;
    color: rgb(0, 0, 0);
}

.sticky-header {
    top: 0px; /* avoid emtpy space on the top */
    position: fixed; /* sticky header */
    width: 90%;
    padding: 20px 5% 20px 5%;
    display: flex; /* make blocks inside to a line */
    z-index: 20;
}

.header-author-name {
    flex-grow: 0; /* flex-basis: auto, flex item size start with its content */
    /* if we use flex: 1 => flex-basis: 0, flex item size start with 0 */
    font-size: 23px;
}

.header-nav-bar {
    flex-grow: 1;
    font-size: 15px;
    text-align: right; /* control the positon of text */
    padding-left: 20px;
}

.header-nav-bar > a {
    padding-left: 5px;
}

.content {
    padding-top: 150px;
}

/* layout for the whole article */
.common-article-layout {
    padding: 0 20% 0 20%; /* control the position of the sub block */
}

/*control font size*/
.common-h1 {
    font-size: 25px;
}

.common-h2 {
    font-size: 20px;
}

.common-a .common-date {
    font-size: 11px;
}

.common-ps > p{
    font-size: 16px
}

